.top-story {
  position: relative;
  min-height: 150px;
  height: 100%;
  &:first-child {
    grid-column: 1 / 3;
  }
  &-link,
  &-link:link,
  &-link:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 100%;
    color: #ddd;
  }
  &-title {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
    text-align: justify;
    font-size: 14px;
    line-height: 1.35;
  }
}

.top-stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
}

@media screen and (min-width: 1023px) {
  .top-story {
    min-height: 200px;
  }
}