.topStory-slide-container {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  [data-swipeable] {
    overflow: hidden !important;
  }
}

.topStory-slide {
  position: relative;
  min-height: 200px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  &-link,
  &-link:link,
  &-link:hover {
    display: block;
    width: 100%;
    padding: 10px;
    height: 100%;
    color: #ddd;
  }
  &-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    text-align: justify;
    font-size: 14px;
  }
}