.msg-container {
  width: 600px;
  margin: 0 auto 60px;
  p,
  li {
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: #3f51b5;
  }
  img {
    text-align: center;
    max-width: 100%;
  }
  .meta {
    img {
      display: inline-block;
      margin-right: 10px;
      border-radius: 50%;
    }
    * {
      vertical-align: middle;
    }
  }
}
